<form action="{{ url_for('entries_actions')}}" method=post enctype=multipart/form-data>
<div class="card-deck" style="display: flex; justify-content: center;">
    {% if entries_list is not none %}
        {% for entry in entries_list %}

            <div class="card-block" style="margin: .5rem;margin-bottom: 1em;margin-top: 1em;">
                <div class="CardMain card text-center" style="width: 18rem;">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <input class="form-check-input" type="checkbox" id="Select&{{entry[-1]}}" name="Select&{{entry[-1]}}">
                                <label class="form-check-label" for="Select&{{entry[-1]}}">
                                    Select
                                </label>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ url_for('entry', id=entry[-1]) }}">
                                    <h4 class="CardMain">{{entry[7]}}</h4>
                                </a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <h4 class="CardMain" onclick="copy_2_clipboard(this)">{{entry[0]}}</h4>

                        <h5 class="CardMain">{{ entry[5] }}</h5>
                        <h6 class="CardMain">{{ entry[4] }}</h6>
                <div class="card-footer" style="width: 18rem;overflow: auto;">

                    {% for tag in entry[1] %}
                        <span class="badge badge-info" >{{ tag }}</span>
                    {% endfor %}

                    </div>

                    <div class="card-footer" style="width: 18rem;overflow: auto;">

                        {% for condition in entry[6] %}
                            <span class="badge badge-warning" >{{ condition }}</span>
                        {% endfor %}
    
                        </div>
                </div>
            </div>            
        {% endfor %}

    {% endif %}
</div>
{% if entries_list is not none %}
    <div class="input-group mb-3 row" style="padding-bottom: 2rem; padding-top: 2rem;">
        <div class="col-md-3">
                <label for="emailed">Action:</label>
                <select class="form-select" name="action" id="action" required>
                        <option value="bulk_report">Report</option>
                        <option value="set_parent_entry">Set parent entry</option>
                        <option value="notify_by_email">Notify by email</option>
                </select>
        </div>
        <div class="col-md-6" style="display:none" id="parent_entry_hash_id">
            <label for="parent_entry_hash_id">Parent HashID:</label>
            <input class="form-control" type="text" name="parent_entry_hash_id" autocomplete="off">
        </div> 
        <div class="col-md-6" style="display:none" id="adress_for_notify_by_email">
            <label for="adress_for_notify_by_email">Target email adresses (comma separated):</label>
            <input class="form-control" type="email" name="adress_for_notify_by_email" autocomplete="off">
        </div>  
        <div class="col-md-3">
            <button class="btn btn-primary" type=submit id="action">Submit</button>
        </div>  
    </div>
{% endif %}
</form>